body{
    margin: auto;
    padding:0;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/background.png);
    background-repeat: repeat;
    background-size: contain;
}

#score {
    display:flex;
    position: fixed;
    bottom: 0;
    right:0;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    align-items: flex-end;
    font-size: 2em;
    background-color: rgb(17, 38, 102);
    border: solid rgb(17, 38, 102) 2px;
    border-radius: 23% 23% 23% 23% / 50% 0% 0% 0%;
    width:120px;
    justify-content: center;
    padding-top: 6px;
    z-index: 1000;
}

img {
    min-width: 300px;
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 20px 2px rgba(140, 138, 126, 0.3);
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5rem;
    color: #FFDB12;
}

.formulaire {
    width: 50%;
    display:flex;
    justify-content: center;
    margin-bottom: 150px;
    position: relative;
}

form {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.reinitialisation {
    display:block;
}

.reponses-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.reponses {
    width: 100%;
    justify-content: center;
    margin: 5px 0;
    cursor: pointer;
}

label {
    flex: 1; 
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #FFDB12;
    font-size: 1.5em;
}

/* masque les vrais input */
.reponses input[type="radio"] {
    display: none;
}

.reponses label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* cercle extérieur de l'input */
.custom-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 3px;
    margin-right: 8px;
    background-color: rgb(17, 38, 102);
    transition: background-color 0.3s, border-color 0.3s;
}

/* change la couleur de fond au survol */
.reponses label:hover .custom-radio {
    background-color: #FFDB12;
}

/* change la couleur de fond quand il est coché */
.reponses input[type="radio"]:checked + label .custom-radio {
    background-color: #FFDB12;
}

/* style du texte après le label */
.label-text {
    vertical-align: middle;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

#questions{
    font-family: "Bebas Neue", sans-serif;
    color: #FFDB12;
    font-size: 2em;
    text-align:center;
}

input[type="submit"] {
    border: none;
    background-color: #FFDB12;
    padding: 10px;
    width: 120px;
    font-family: "Bebas Neue", sans-serif;
    font-size:1.5em;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="submit"]:hover {
    transform: scale(1.05);
}

#resetbutton {
    width: 190px;
}

#reinitialisation {
    width: 100%;
    align-items: center;
    height: 20vh;
    justify-content: center;
}

.feedback{
    font-family: "Bebas Neue", sans-serif;
    color:#FFDB12;
    font-size: 1.5em;
    margin-top: 30px;
    position: absolute;
    top: 100%;
    width:100%;
    display:flex;
    justify-content: center;
}

@media only screen and (max-width:1094px) {

    .reponses label {
        display:unset;
        align-items:unset;
    }
}

@media only screen and (max-width:805px) {

    h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width:719px) {

    h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width:543px) {

    h1 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 454px){

    h1 {
        font-size: 2em;
    }
}